<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10_battery.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,242}</string>
                <key>spriteSourceSize</key>
                <string>{120,242}</string>
                <key>textureRect</key>
                <string>{{286,795},{120,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_lipstick.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,262}</string>
                <key>spriteSourceSize</key>
                <string>{72,262}</string>
                <key>textureRect</key>
                <string>{{218,1287},{72,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12_mic.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,119}</string>
                <key>spriteSourceSize</key>
                <string>{61,119}</string>
                <key>textureRect</key>
                <string>{{0,0},{61,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_guitar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,276}</string>
                <key>spriteSourceSize</key>
                <string>{124,276}</string>
                <key>textureRect</key>
                <string>{{292,1287},{124,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14_waterkettle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,232}</string>
                <key>spriteSourceSize</key>
                <string>{172,232}</string>
                <key>textureRect</key>
                <string>{{112,795},{172,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15_boxingglobe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,218}</string>
                <key>spriteSourceSize</key>
                <string>{174,218}</string>
                <key>textureRect</key>
                <string>{{90,570},{174,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_pencil.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,262}</string>
                <key>spriteSourceSize</key>
                <string>{74,262}</string>
                <key>textureRect</key>
                <string>{{142,1287},{74,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17_rocket.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,224}</string>
                <key>spriteSourceSize</key>
                <string>{110,224}</string>
                <key>textureRect</key>
                <string>{{0,795},{110,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18_toyman.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,250}</string>
                <key>spriteSourceSize</key>
                <string>{140,250}</string>
                <key>textureRect</key>
                <string>{{0,1287},{140,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>19_dumbbel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,244}</string>
                <key>spriteSourceSize</key>
                <string>{140,244}</string>
                <key>textureRect</key>
                <string>{{0,1039},{140,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_waterbottle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,223}</string>
                <key>spriteSourceSize</key>
                <string>{98,223}</string>
                <key>textureRect</key>
                <string>{{358,570},{98,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>20_glassbottle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,214}</string>
                <key>spriteSourceSize</key>
                <string>{88,214}</string>
                <key>textureRect</key>
                <string>{{0,570},{88,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21_bluecan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,182}</string>
                <key>spriteSourceSize</key>
                <string>{96,182}</string>
                <key>textureRect</key>
                <string>{{186,162},{96,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>22_lemoncan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,184}</string>
                <key>spriteSourceSize</key>
                <string>{92,184}</string>
                <key>textureRect</key>
                <string>{{284,162},{92,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>23_bigwaterbottle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,164}</string>
                <key>spriteSourceSize</key>
                <string>{92,164}</string>
                <key>textureRect</key>
                <string>{{92,162},{92,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24_medicbottle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,212}</string>
                <key>spriteSourceSize</key>
                <string>{88,212}</string>
                <key>textureRect</key>
                <string>{{0,354},{88,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_trashbin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,160}</string>
                <key>spriteSourceSize</key>
                <string>{88,160}</string>
                <key>textureRect</key>
                <string>{{327,0},{88,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26_gunshell.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,218}</string>
                <key>spriteSourceSize</key>
                <string>{90,218}</string>
                <key>textureRect</key>
                <string>{{266,570},{90,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>27_toothpaste.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,214}</string>
                <key>spriteSourceSize</key>
                <string>{56,214}</string>
                <key>textureRect</key>
                <string>{{142,354},{56,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>28_aircon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,214}</string>
                <key>spriteSourceSize</key>
                <string>{94,214}</string>
                <key>textureRect</key>
                <string>{{200,354},{94,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>29_icecream.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,214}</string>
                <key>spriteSourceSize</key>
                <string>{94,214}</string>
                <key>textureRect</key>
                <string>{{392,354},{94,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_milkbottle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,190}</string>
                <key>spriteSourceSize</key>
                <string>{72,190}</string>
                <key>textureRect</key>
                <string>{{378,162},{72,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30_alcoholpot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,120}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{63,0},{90,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_jar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,160}</string>
                <key>spriteSourceSize</key>
                <string>{86,160}</string>
                <key>textureRect</key>
                <string>{{239,0},{86,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_champagne.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,310}</string>
                <key>spriteSourceSize</key>
                <string>{76,310}</string>
                <key>textureRect</key>
                <string>{{418,1287},{76,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_usainbolt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,246}</string>
                <key>spriteSourceSize</key>
                <string>{216,246}</string>
                <key>textureRect</key>
                <string>{{142,1039},{216,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_redcan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,142}</string>
                <key>spriteSourceSize</key>
                <string>{82,142}</string>
                <key>textureRect</key>
                <string>{{155,0},{82,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_babybottle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,214}</string>
                <key>spriteSourceSize</key>
                <string>{94,214}</string>
                <key>textureRect</key>
                <string>{{296,354},{94,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_nuclear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,162}</string>
                <key>spriteSourceSize</key>
                <string>{90,162}</string>
                <key>textureRect</key>
                <string>{{0,162},{90,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9_ns.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,212}</string>
                <key>spriteSourceSize</key>
                <string>{50,212}</string>
                <key>textureRect</key>
                <string>{{90,354},{50,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bottle_spriteSheet.png</string>
            <key>size</key>
            <string>{494,1597}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:81dfb358f63f01ec8596b96f740eeb28:75dfd1e74f666b7fad7f6fa6861e9341:bf0cc70559eba6f5e6055304642f67ee$</string>
            <key>textureFileName</key>
            <string>bottle_spriteSheet.png</string>
        </dict>
    </dict>
</plist>
